<%provide(:title,'About')%>
		
<h1><a id= "about" > G11-Silveros </a></h1>
<p>

	<br>We are Group 11 with 6 members.</br>
	<br>We create Silveros for anyone who want to finding love online.</br>
	<br>Why "Silveros"?</br>
	<br>It is a combination between Silver and eros.</br>
	<br>Enjoy it!</br>
	<br>2014</br>
	<a href="heroku.com">
</p>