<% if signed_in? %>
	<li><%= link_to "Users", users_path %></li>
<% else %>
	
	<div class="center hero-unit">
  		<h1>Welcome to the Silveros</h1>

  	<h2>
    	This is the Home page for the 
    	<a href="https://www.facebook.com/groups/541825819258320/?ref=br_tf"> Silveros </a>
  	</h2>

  	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  
	</div>

	
<% end %>