<% if signed_in? %>
  <li><%= link_to "Users", users_path %></li>
<% else %>
  <br></br>

  <h3> => You want to find your true love?</h3>
  <h3> => You want to keep in touch with your friend?</h3>
  <h3> => You want to get some tips to flirt someone?</h3> 

  <br></br>
  <div class="center hero-unit">
      <h1>Welcome to the Silveros</h1>
      <br> </br>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  
  </div>

  
<% end %>