<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Silveros Application</a>
    by dhahah dev team
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.facebook.com/groups/541825819258320/?ref=br_tf">News</a></li>
    </ul>
  </nav>
</footer>